<form [formGroup]="formulario" (ngSubmit)="enviarDados()">
  <div>
    <label for="nome">Nome: </label>
    <input type="text" formControlName="nome">
  </div>

  <div>
    <label for="email">E-mail: </label>
    <input type="text" formControlName="email">
  </div>

  <div>
    <label for="cpf">CPF: </label>
    <input type="text" formControlName="cpf">
  </div>

  <div>
    <label for="nascimento">Nascimento: </label>
    <input type="date" formControlName="nascimento">
  </div>

  <div>
    <label for="senha">Senha: </label>
    <input type="password" formControlName="senha">
  </div>

  <div>
    <label for="confirmarSenha">Confirmar senha: </label>
    <input type="password" formControlName="confirmarSenha">
  </div>

  <br>
  <div>
    <button [disabled]="!formulario.valid">Enviar dados</button>
  </div>

  <br>
  <br>

  <div>{{ formulario.value | json}}</div>
  <div>{{ formulario.valid | json }}</div>
</form>